{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Edit Company</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('company_list') }}">back to list</a>


    <form method="post" action="{{ path('company_delete', {'id': company.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <button type="submit">Delete</button>
    </form>

{% endblock %}
